.idea
ssvm.egg-info
venv
**/__pycache__
.ipynb_checkpoints
**/logs
ssvm/tests/small_metabolite_data.pkl.gz
slurm-*.out
**/profiling/ssvm_01.png
**/profiling/ssvm_02.png
**/profiling/ssvm_03.png
OLD_venv
build
dist
**/*.sqlite
